@charset "UTF-8";
section#conteudo {
    width: 1000px;
    margin: auto;
}

#frame-spec {
   /* display: inline; */
    overflow: hidden;
    width: 400px;
    height: 280px;
    border: none;
}